<!-- <h1>Master App!</h1>
<a routerLink="/task-management" href="/task-management"> Task Management </a>
<a routerLink="/on-boarding" href="/on-boarding"> On Boarding </a>
<xt-hub-header></xt-hub-header>
<xt-hub-sidebar></xt-hub-sidebar>
<router-outlet></router-outlet> -->

<div *ngIf="!isOnBord" class="main-layout-block">
    <div class="main-layout-left">
        <xt-hub-header [sidebarTog]="sidebarToggle"></xt-hub-header>
    </div>
    <div class="main-layout-right" [ngClass]="{'' :sidebarToggle === true, 'toggle-full-width' : sidebarToggle === false}">
        <div class="main-layout-header">
            <xt-hub-sidebar [sidebarToggle]="sidebarToggle" (onToggle)="toggleSidebar($event)"></xt-hub-sidebar>
        </div>
        <div class="main-layout-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div *ngIf="isOnBord">
    <router-outlet></router-outlet>
</div>

